// Colors variables
$white: #ffffff;
$light-navy: #153064;
$cobalt: #1d428b;
$dark-slate-blue: #254176;
$dark-slate-blue-two: #1c3668;
$dark-slate-blue-three: #1f3a6e;
$cloudy-blue: #a7b5d2;
$blue-grey: #8191b2;
